In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sales.csv')
df.head(5)

     Покупатель  Сумма  Название фильма         Дата платежа    Магазин
0  Peter Menard   7.99      Rules Human  2007-02-15 22:25:46  Магазин 1
1  Peter Menard   1.99  Majestic Floats  2007-02-16 17:23:14  Магазин 2
2  Peter Menard   7.99      Maiden Home  2007-02-16 22:41:45  Магазин 1
3  Peter Menard   2.99      Hyde Doctor  2007-02-19 19:39:56  Магазин 1
4  Peter Menard   7.99   Massacre Usual  2007-02-20 17:31:48  Магазин 1

In [3]:
#Топ-5 по обоим магазинам
ton5 = df.groupby(df['Название фильма'])['Сумма'].sum().sort_values(ascending=False)
ton5.head(5)

Название фильма
Telegraph Voyage    215.75
Zorro Ark           199.72
Wife Turn           198.73
Innocent Usual      191.74
Hustler Party       190.78
Name: Сумма, dtype: float64

In [4]:
df1 = pd.read_csv('sales1.csv')
df1.head(5)

     Покупатель  Сумма Название фильма         Дата платежа    Магазин
0  Peter Menard   7.99     Rules Human  2007-02-15 22:25:46  Магазин 1
1  Peter Menard   7.99     Maiden Home  2007-02-16 22:41:45  Магазин 1
2  Peter Menard   2.99     Hyde Doctor  2007-02-19 19:39:56  Магазин 1
3  Peter Menard   7.99  Massacre Usual  2007-02-20 17:31:48  Магазин 1
4  Peter Menard   5.99  Annie Identity  2007-02-21 12:33:49  Магазин 1

In [5]:
#Топ-5 магазина 1
Fton5 = df1.groupby(df1['Название фильма'])['Сумма'].sum().sort_values(ascending=False)
Fton5.head(5)

Название фильма
Telegraph Voyage    121.86
Whale Bikini        113.85
Sunrise League      109.85
Zorro Ark           108.85
Fool Mockingbird    104.86
Name: Сумма, dtype: float64

In [6]:
df2 = pd.read_csv('sales2.csv')
df2.head(5)

       Покупатель  Сумма    Название фильма         Дата платежа    Магазин
0    Peter Menard   1.99    Majestic Floats  2007-02-16 17:23:14  Магазин 2
1  Harold Martino   5.99      Wash Heavenly  2007-02-17 23:58:17  Магазин 2
2  Harold Martino   5.99         Lola Agent   2007-02-20 2:11:44  Магазин 2
3  Harold Martino   2.99     Identity Lover  2007-02-20 13:57:39  Магазин 2
4    Douglas Graf   4.99  Opposite Necklace   2007-02-16 0:10:50  Магазин 2

In [7]:
#Топ-5 магазина 2
Ston5 = df2.groupby(df2['Название фильма'])['Сумма'].sum().sort_values(ascending=False)
Ston5.head(5)

Название фильма
Teen Apollo           109.86
Virtual Spoilers      105.87
Strangers Graffiti    104.86
Lola Agent            104.84
Show Lord             102.85
Name: Сумма, dtype: float64